<app-toolbar></app-toolbar>

<p-table #dt [value]="orders" [rows]="20" [paginator]="true" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Orders</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pColumn="id">Id </th>
            <th pColumn="user">User </th>
            <th pColumn="state">State </th>
            <th pColumn="products">Products</th>
            <th pColumn="quantities">Quantities</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.user.username}}</td>
            <td>{{order.state}}</td>
            <td>
                <p-table #dt [value]="order.elements">
                    <ng-template pTemplate="body" let-element>
                        <tr>
                            <td>{{element.product.name}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </td>
            <td>
                <p-table #dt [value]="order.elements">
                    <ng-template pTemplate="body" let-element>
                        <tr>
                            <td>{{element.quantity}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </td>
            <td>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteOrder(order)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-toast position="top-center" key="tc" (onClose) = "refresh()"></p-toast>
