
        <div class="p-grid p-col " >
            <div  class="p-col"></div>
            <p-card class="p-m-10" >
                
                <div class="p-formgroup-column p-col  ">
                    <p-header class="p-d-flex p-jc-center"> 
                       <img src="../../assets/images/logo.png">
                    </p-header>
                    <div class="p-float-label p-m-2">
                        <input id="inUsername" type="text" pInputText [(ngModel)]="username"> 
                        <label for="inUsername">Username</label>
                    </div>
                    <div class="p-float-label  p-m-2">
                        <input id="inPassword" type="password" pInputText [(ngModel)]="password"> 
                        <label for="inPassword">Password</label>
                    </div>
                    <button pButton class="p-m-2" type="button" label="Login" icon="pi pi-check" iconPos="left" (click) = doLogin() ></button>
                    
                </div>
                <p-footer>
                    <img src="../../assets/images/logo2.png"style="height:30px" >
                </p-footer>
            </p-card>
         <div  class="p-col"></div>
    </div>
    
<p-toast position="top-center" key="tc"></p-toast>

