<app-toolbar></app-toolbar>

<p-table [value]="orders" [rows]="20" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Orders</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Id </th>
            <th>User </th>
            <th>State </th>
            <th>Total </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="order"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{order.id}}</td>
            <td>{{order.user.username}}</td>
            <td>{{order.state}}</td>
            <td>{{getTotal(order)}}</td>
            <td>
                <button *ngIf="order.state == 'CONFIRMED'" pButton pRipple icon="pi pi-check-circle"
                    class="p-button-rounded p-button-success p-mr-2" (click)="close(order)"></button>

                <button *ngIf="order.state == 'CLOSED'" pButton pRipple icon="pi pi-file-pdf"
                    (click)="openUserDialog(order)" class="p-button-rounded p-button-success p-mr-2"></button>

                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteOrder(order)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-order>
        <tr>
            <td colspan="5">
                <div>
                    <p-table [value]="order.elements" dataKey="product.id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <h5 class="p-m-0">Products</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
        <tr>
            <th>Quantity</th>
            <th>Name </th>
            <th>Sub-Category </th>
            <th>Vendor</th>
            <th>Color </th>
            <th>Price </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
        <tr>
            <td>{{element.quantity}}</td>
            <td>{{element.product.name}}</td>
            <td>{{element.product.subcategory.name}}</td>
            <td>{{element.product.vendor.name}}</td>
            <td>{{element.product.color}}</td>
            <td>{{element.product.price | currency:'EUR'}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>

<p-toast position="top-center" key="tc" (onClose)="refresh()"></p-toast>
<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}"  [modal]="true"
    styleClass="p-fluid" >
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && saveUserAndPdf() " novalidate>

        <!--validation for user data-->
        <h5>Customer data invoice
        </h5>
        <div class="form-group">
            <label for="name">Full Name User</label>
            <input pInputText required autofocus type="text" class="form-control" id="name" name="name" #name="ngModel"
                [(ngModel)]="invoice.userName" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" />
            <div *ngIf="name.dirty  && name.touched && name.invalid">
                <div class="alert-danger" *ngIf="name.errors.required">
                    The field Full Name User is required
                </div>
            </div>
        </div>
       

        <div class="form-group">
            <label for="userAddress">User Address</label>
            <input pInputText required autofocus type="text" class="form-control" id="userAddress" name="userAddress" #userAddress="ngModel"
                [(ngModel)]="invoice.userAddress" [ngClass]="{ 'is-invalid': f.submitted && userAddress.invalid }" />
            <div *ngIf="  userAddress.dirty  &&   userAddress.touched &&  userAddress.invalid">
                <div class="alert-danger" *ngIf="userAddress.errors.required">
                    The field user address is required
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="userCap">User Cap</label>
            <input pInputText required autofocus type="text" class="form-control" id="userCap" name="userCap" #userCap="ngModel"
                [(ngModel)]="invoice.userCap" [ngClass]="{ 'is-invalid': f.submitted && userCap.invalid }" />
            <div *ngIf="  userCap.dirty  &&   userCap.touched &&  userCap.invalid">
                <div class="alert-danger" *ngIf="userCap.errors.required">
                    The field user Cap is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="userCity">User City</label>
            <input pInputText required autofocus type="text" class="form-control" id="userCity" name="userCity" #userCity="ngModel"
                [(ngModel)]="invoice.userCity" [ngClass]="{ 'is-invalid': f.submitted && userCity.invalid }" />
            <div *ngIf="  userCity.dirty  &&   userCity.touched &&  userCity.invalid">
                <div class="alert-danger" *ngIf="userCity.errors.required">
                    The field user City is required
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="userProvince">User Province</label>
            <input pInputText required autofocus type="text" class="form-control" id="userProvince" name="userProvince" #userProvince="ngModel"
                [(ngModel)]="invoice.userProvince" [ngClass]="{ 'is-invalid': f.submitted && userProvince.invalid }" />
            <div *ngIf="  userProvince.dirty  &&   userProvince.touched &&  userProvince.invalid">
                <div class="alert-danger" *ngIf="userProvince.errors.required">
                    The field user Province is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="userCF">User CF</label>
            <input pInputText required autofocus type="text" class="form-control" id="userCF" name="userCF" #userCF="ngModel"
                [(ngModel)]="invoice.userCF" [ngClass]="{ 'is-invalid': f.submitted && userCF.invalid }" />
            <div *ngIf="  userCF.dirty  &&   userCF.touched &&  userCF.invalid">
                <div class="alert-danger" *ngIf="userCF.errors.required">
                    The field user CF is required
                </div>
            </div>
        </div>

    <!--validation for invoice data-->
    <h5>Invoice data</h5>
    <div class="form-group">
        <label for="typeDocument">Type of Document</label>
        <input pInputText required autofocus type="text" class="form-control" id="typeDocument" name="typeDocument" #typeDocument="ngModel"
            [(ngModel)]="invoice.typeDocument" [ngClass]="{ 'is-invalid': f.submitted && typeDocument.invalid }" />
        <div *ngIf="  typeDocument.dirty  &&   typeDocument.touched &&  typeDocument.invalid">
            <div class="alert-danger" *ngIf="typeDocument.errors.required">
                The field type of document is required
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="documentNumber">Document Number</label>
        <input pInputText required autofocus type="text" class="form-control" id="documentNumber" name="documentNumber" #documentNumber="ngModel"
            [(ngModel)]="invoice.documentNumber" [ngClass]="{ 'is-invalid': f.submitted && documentNumber.invalid }" />
        <div *ngIf="  documentNumber.dirty  &&   documentNumber.touched &&  userProvince.invalid">
            <div class="alert-danger" *ngIf="documentNumber.errors.required">
                The field document number is required
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="documentDate">document Date</label>
        <input pInputText required autofocus type="text" class="form-control" id="documentDate" name="documentDate" #documentDate="ngModel"
            [(ngModel)]="invoice.documentDate" [ngClass]="{ 'is-invalid': f.submitted && documentDate.invalid }" />
        <div *ngIf="  documentDate.dirty  &&   documentDate.touched &&  documentDate.invalid">
            <div class="alert-danger" *ngIf="documentDate.errors.required">
                The field Document Date is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="transmissionAddress">Transmission Address</label>
        <input pInputText required autofocus type="text" class="form-control" id="transmissionAddress" name="transmissionAddress" #transmissionAddress="ngModel"
            [(ngModel)]="invoice.transmissionAddress" [ngClass]="{ 'is-invalid': f.submitted && transmissionAddress.invalid }" />
        <div *ngIf="  transmissionAddress.dirty  &&   transmissionAddress.touched &&  transmissionAddress.invalid">
            <div class="alert-danger" *ngIf="transmissionAddress.errors.required">
                The field transmission address is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="causal">Causal</label>
        <input pInputText required autofocus type="text" class="form-control" id="causal" name="causal" #causal="ngModel"
            [(ngModel)]="invoice.causal" [ngClass]="{ 'is-invalid': f.submitted && causal.invalid }" />
        <div *ngIf="  causal.dirty  &&   causal.touched &&  causal.invalid">
            <div class="alert-danger" *ngIf="causal.errors.required">
                The field causal is required
            </div>
        </div>
    </div>

    <!--payment-->
    <h5>Payment</h5>
    <div class="form-group">
        <label for="methodPayment">Method Payment</label>
        <input pInputText required autofocus type="text" class="form-control" id="methodPayment" name="methodPayment" #methodPayment="ngModel"
            [(ngModel)]="invoice.methodPayment" [ngClass]="{ 'is-invalid': f.submitted && methodPayment.invalid }" />
        <div *ngIf="  methodPayment.dirty  &&   methodPayment.touched &&  methodPayment.invalid">
            <div class="alert-danger" *ngIf="methodPayment.errors.required">
                The field method of payment is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="iban">Iban</label>
        <input pInputText required autofocus type="text" class="form-control" id="iban" name="iban" #iban="ngModel"
            [(ngModel)]="invoice.iban" [ngClass]="{ 'is-invalid': f.submitted && iban.invalid }" />
        <div *ngIf="  iban.dirty  &&   iban.touched &&  iban.invalid">
            <div class="alert-danger" *ngIf="iban.errors.required">
                The field iban is required
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="bankName">Bank Name</label>
        <input pInputText required autofocus type="text" class="form-control" id="bankName" name="bankName" #bankName="ngModel"
            [(ngModel)]="invoice.bankName"  />
    
    </div>
    <div class="form-group">
        <label for="expirationDate">Expiration Date</label>
        <input pInputText required autofocus type="text" class="form-control" id="expirationDate" name="expirationDate" #expirationDate="ngModel"
            [(ngModel)]="invoice.expirationDate" [ngClass]="{ 'is-invalid': f.submitted && expirationDate.invalid }" />
        <div *ngIf="  expirationDate.dirty  &&   iban.touched &&  expirationDate.invalid">
            <div class="alert-danger" *ngIf="expirationDate.errors.required">
                The field expirationDate is required
            </div>
        </div>
    </div>

  
   
    

    <!--summary-->
  
    <div class="form-group">
        <label for="vatCollectability">VAT Collectability</label>
        <input pInputText required autofocus type="text" class="form-control" id="vatCollectability" name="vatCollectability" #vatCollectability="ngModel"
            [(ngModel)]="invoice.vatCollectability" [ngClass]="{ 'is-invalid': f.submitted && vatCollectability.invalid }" />
        <div *ngIf="  vatCollectability.dirty  &&   vatCollectability.touched &&  vatCollectability.invalid">
            <div class="alert-danger" *ngIf="vatCollectability.errors.required">
                The field  vatCollectability is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="additionalCosts">Additional Costs</label>
        <input pInputText required autofocus type="text" class="form-control" id="additionalCosts" name="additionalCosts" #additionalCosts="ngModel"
            [(ngModel)]="invoice.additionalCosts"  />
         
    </div>
    <div class="form-group">
        <label for="stampData">Stamp Data</label>
        <input pInputText required autofocus type="text" class="form-control" id="stampData" name="stampData" #stampData="ngModel"
            [(ngModel)]="invoice.stampData"  />
     
    </div>

    <div class="form-group">
        <label for="discount">Discount</label>
        <input pInputText required autofocus type="text" class="form-control" id="discount" name="discount" #discount="ngModel"
            [(ngModel)]="invoice.discount"  />
        
    </div>
 
   
    <div class="form-group">
        <button pButton class="p-button-danger" label="Cancel" (click)="hideDialog()" >
        </button>
    </div>
    <div class="form-group">
        <button pButton class="p-button-success" label="Save" type="submit" [disabled]="f.invalid"  >
        </button>
    </div>
</form>
</p-dialog>