<app-toolbar></app-toolbar>

<div class="card">

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="20" [paginator]="true" [rowHover]="true" dataKey="id"
        [globalFilterFields]="['name']" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <p-columnFilter field="subcategory.name" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="subcategories" (onChange)="filter($event.value)"
                            placeholder="Any" [showClear]="true"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="search" (input)="dt.filterGlobal(search,'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name </th>
                <th>Image</th>
                <th>Color </th>
                <th>Sub-Category </th>
                <th>Vendor</th>
                <th>Place</th>
                <th>Stock </th>
                <th>Price </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>

                <td>{{product.name}}</td>
                <td>
                    <div>
                        <input style="display: none" type="file" name="img" (change)="readUrl($event)" #selectedFile>
                    </div>
                    <div>
                        <img *ngIf="product" [src]="product.photo" height="120" class="p-shadow-4">
                    </div>
                    <!--[disabled]="product.inventoryStatus === 'OUTOFSTOCK'" <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100"
                         />-->
                </td>
                <td>{{product.color}}</td>
                <td>{{product.subcategory.name}}</td>
                <td>{{product.vendor.name}}</td>
                <td>{{product.place.id}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.price | currency:'EUR'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">

    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && saveProduct()" novalidate>

        <div class="form-group">
            <label for="name">Name</label>
            <input pInputText required autofocus type="text" class="form-control" id="name" name="name" #name="ngModel"
                [(ngModel)]="product.name" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" />
            <div *ngIf="name.dirty  && name.touched && name.invalid">
                <div class="alert-danger" *ngIf="name.errors.required">
                    The field name is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="brand">Brand</label>
            <input pInputText required type="text" class="form-control" id="brand" name="brand" #brand="ngModel"
                [(ngModel)]="product.brand" [ngClass]="{ 'is-invalid': f.submitted && brand.invalid }" />
            <div *ngIf="brand.dirty  && brand.touched && brand.invalid">
                <div class="alert-danger" *ngIf="brand.errors.required">
                    The field brand is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <input pInputText required type="text" class="form-control" id="color" name="color" #color="ngModel"
                [(ngModel)]="product.color" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }" />
            <div *ngIf="color.dirty  && color.touched && color.invalid">
                <div class="alert-danger" *ngIf="color.errors.required">
                    The field color is required
                </div>
            </div>
        </div>

        <div class="p-field" *ngIf="!newproduct">
            <label for="subcategory.name">Subcategory name</label>
            <p-dropdown [options]="subcategories" [(ngModel)]="product.subcategory.name" id="subcategory" name="subcategory" #subcategory="ngModel"
                placeholder="Select a subcategory">
            </p-dropdown>
        </div>

        <div class="p-field" *ngIf="!newproduct">
            <label for="vendor.name">Vendor name</label>
            <p-dropdown [options]="vendors" [(ngModel)]="product.vendor.name" placeholder="Select a vendor" id="vendor" name="vendor" #vendor="ngModel">
            </p-dropdown>
        </div>

        <div class="p-field" *ngIf="newproduct">
            <label for="subcategory.name">Subcategory name</label>
            <p-dropdown [options]="subcategories" [(ngModel)]="select_subcategory" placeholder="Select a subcategory" id="subcategory" name="subcategory" #subcategory="ngModel" >
            </p-dropdown>
        </div>

        <div class="p-field" *ngIf="newproduct">
            <label for="vendor.name">Vendor name</label>
            <p-dropdown [options]="vendors" [(ngModel)]="select_vendor" placeholder="Select a vendor" id="vendor" name="vendor" #vendor="ngModel">
            </p-dropdown>
        </div>

        <div class="form-group">
            <label for="place">Place ID</label>
            <input pInputText required type="text" class="form-control" id="place" name="place" #place="ngModel"
                [(ngModel)]="product.place.id" [ngClass]="{ 'is-invalid': f.submitted && place.invalid }" />
            <div *ngIf="place.dirty  && place.touched && place.invalid">
                <div class="alert-danger" *ngIf="place.errors.required">
                    The field place is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="stock">Stock</label>
            <input pInputText required type="text" class="form-control" id="stock" name="stock" #stock="ngModel"
                [(ngModel)]="product.stock" [ngClass]="{ 'is-invalid': f.submitted && stock.invalid }" />
            <div *ngIf="stock.dirty  && stock.touched && stock.invalid">
                <div class="alert-danger" *ngIf="stock.errors.required">
                    The field stock is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input pInputText required type="text" class="form-control" id="price" name="price" #price="ngModel"
                [(ngModel)]="product.price" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" />
            <div *ngIf="price.dirty  && price.touched && price.invalid">
                <div class="alert-danger" *ngIf="price.errors.required">
                    The field price is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="photo">Photo</label>
            <input pInputText required type="text" class="form-control" id="photo" name="photo" #photo="ngModel"
                [(ngModel)]="product.photo" [ngClass]="{ 'is-invalid': f.submitted && photo.invalid }"
                placeholder="Insert a link to an image" />
            <div *ngIf="photo.dirty  && photo.touched && photo.invalid">
                <div class="alert-danger" *ngIf="photo.errors.required">
                    The field photo is required
                </div>
            </div>
        </div>

        <div class="form-group">
            <button pButton class="p-button-danger" label="Cancel" (click)="hideDialog()" >
            </button>
        </div>
        <div class="form-group">
            <button pButton class="p-button-success" label="Save" type="submit" [disabled]="f.invalid"  >
            </button>
        </div>

    </form>

</p-dialog>

<p-toast position="top-center" key="tc" (onClose)="refresh()"></p-toast>