<app-toolbar></app-toolbar>

<div class="card">

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">

        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="20" [paginator]="true" [rowHover]="true" dataKey="id"
        [globalFilterFields]="['name']" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <p-columnFilter field="subcategory.name" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="subcategories" (onChange)="filter($event.value)"
                            placeholder="Any" [showClear]="true"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="search" (input)="dt.filterGlobal(search,'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name </th>
                <th>Image</th>
                <th>Color </th>
                <th>Sub-Category </th>
                <th>Vendor</th>
                <th>Place</th>
                <th>Stock </th>
                <th>Price </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>

                <td>{{product.name}}</td>
                <td>
                    <div>
                        <input style="display: none" type="file" name="img" (change)="readUrl($event)" #selectedFile>
                    </div>
                    <div>
                        <img *ngIf="product" [src]="product.photo" height="120" class="p-shadow-4">
                    </div>                
                    <!--<img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100"
                         />--></td>
                <td>{{product.color}}</td>
                <td>{{product.subcategory.name}}</td>
                <td>{{product.vendor.name}}</td>
                <td>{{product.place.id}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.price | currency:'EUR'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
    styleClass="p-fluid">
    <!-- <ng-template pTemplate="content">
        <img [src]="'assets/showcase/images/demo/product/'" [alt]="product.name" class="product-image" *ngIf="false">
    </ng-template> -->
    <div class="p-field">
        <label for="name">Name</label>
        <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
    </div>
    <div class="p-field">
        <label for="brand">Brand</label>
        <input type="text" pInputText id="brand" [(ngModel)]="product.brand" />
    </div>
    <div class="p-field">
        <label for="color">Color</label>
        <input type="text" pInputText id="color" [(ngModel)]="product.color" />
    </div>
    <div class="p-field"  *ngIf="!newproduct">
        <label for="subcategory.name">Subcategory name</label>
        <p-dropdown [options]="subcategories" [(ngModel)]="product.subcategory.name"  placeholder="Select a subcategory">
        </p-dropdown>
    </div>
    <div class="p-field" *ngIf="!newproduct">
        <label for="vendor.name">Vendor name</label>
        <p-dropdown [options]="vendors" [(ngModel)]="product.vendor.name" placeholder="Select a vendor"></p-dropdown>
    </div>
   
    <div class="p-field" *ngIf="newproduct">
        <label for="subcategory.name">Subcategory name</label>
        <p-dropdown [options]="subcategories" [(ngModel)]="select_subcategory"  placeholder="Select a subcategory">
        </p-dropdown>
    </div>
    
    <div class="p-field" *ngIf="newproduct">
        <label for="vendor.name">Vendor name</label>
        <p-dropdown [options]="vendors" [(ngModel)]="select_vendor" placeholder="Select a vendor"></p-dropdown>
    </div>
    <div class="p-field">
        <label for="place.id">Place id</label>
        <input type="text" pInputText id="place.id" [(ngModel)]="product.place.id" />
    </div>
    <div class="p-field">
        <label for="stock">Stock</label>
        <p-inputNumber id="stock" [(ngModel)]="product.stock"> </p-inputNumber>
    </div>
    <div class="p-field">
        <label for="price">Price</label>
        <p-inputNumber id="price" [(ngModel)]="product.price"> </p-inputNumber>
    </div>
    
    <div class="p-field">
        <label for="photo">Photo</label>
        <input id="photo" pInputText [(ngModel)]="product.photo" placeholder="Insert a link to an image"/> 

    </div>
    <ng-template pTemplate="footer">


        <button pButton Button ppRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>

        <button pButton Button pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveProduct()"></button>


    </ng-template>

</p-dialog>

<p-toast position="top-center" key="tc" (onClose)="refresh()"></p-toast>