<div>
	<app-toolbar></app-toolbar>
</div>
<div class="card">
	<p-dataView #dv [value]="subcategories" layout="grid">
		<ng-template let-subcategory pTemplate="listItem">
			<div class="p-col-12">
				<div class="subcategory-list-item"  [routerLink]="['/product',subcategory.id]">
					<div class="subcategory-list-detail">
						<img
							src='{{ "assets/images/subcategories/" + subcategory.category.id +"/"+ subcategory.name + ".png" }}' />
						<div class="subcategory-name">{{subcategory.name}}</div>
					</div>
				</div>
			</div>
		</ng-template>
		<ng-template let-subcategory pTemplate="gridItem" >
			<div class="p-col-12 p-md-3">
				<div class="subcategory-grid-item card"  [routerLink]="['/product',subcategory.id]">

					<div class="subcategory-grid-item-content">
						<img src='{{ "assets/images/subcategories/"+ category.id+ "/"+ subcategory.name + ".png" }}' />
						<div class="subcategory-name">{{subcategory.name}}</div>
					</div>

				</div>
			</div>
		</ng-template>
	</p-dataView>
</div>