<app-toolbar></app-toolbar>


<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Add shelf" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="addShelf()"></button>
            
    </ng-template>
    <ng-template pTemplate="right">

    </ng-template>
</p-toolbar>


<p-table [value]="shelfs" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="Shelf">Shelf <p field="Shelf"></p></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Shelf let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="Shelf" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{Shelf.id}}</td>
            <td><p-button type="button" icon="pi pi-plus" (click)="addPlaceToShelf(Shelf)">  </p-button></td>
           
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-shelfs>
        <tr>
            <td colspan="7">
                <div class="p-p-3">
                    <p-table [value]="shelfs.places" dataKey="id">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="place">Place <p-sortIcon field="place"></p-sortIcon></th>
                                
                                <th style="width: 4rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-place>
                            <tr>
                                <td >{{place.id}}</td>
                                <td><p-button type="button" icon="pi pi-trash" (click)="deletePlace(place.id)"> </p-button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no product in this shelf.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-toast position="top-center" key="tc" (onClose)="refresh()"></p-toast>