<app-toolbar></app-toolbar>

<div class="p-d-flex p-flex-row ">
    <p-card class="p-d-flex p-flex-column p-m-2">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <div>
                 
                </div> 
                
            </ng-template>
            <ng-template pTemplate="right">

            </ng-template>
        </p-toolbar>

               
        <p-table [value]="shelfs" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    
                    <th pSortableColumn="Shelf">Shelf <p field="Shelf"></p></th>
                    <th > </th>
                </tr>
                <tr>
                    <div class="p-inputgroup">     
            
                        <button type="button" pButton pRipple icon="pi pi-plus"  (click)="addShelf()" styleClass="p-button-warn" ></button> 
                                    <input type="text" pInputText [(ngModel)]="shelfName" placeholder="Keyword">
                                  </div> 
                </tr>
            </ng-template>
            
            

            <ng-template pTemplate="body" let-Shelf >
                <tr>
                    
                    <td>{{Shelf.nome}}</td>
                    <td><p-button type="button" icon="pi pi-eye" (click)="selShelf(Shelf)">  </p-button></td>
                    
                
                </tr>
            </ng-template>

            
            
        </p-table>
    </p-card>
    <p-card class="p-d-flex p-flex-column p-m-2">
       
            <p-table [value]="selectedShelf.places" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="place">Place <p field="place"></p></th>
                        
                        <th style="width: 4rem"></th>
                        <th></th>
                    </tr>
                    <tr>
                    <div >
                            <div class="p-inputgroup">
                                <input type="text" pInputText [(ngModel)]="placeName" placeholder="Keyword">   
                                <button type="button" pButton pRipple icon="pi pi-plus"  (click)="addPlaceToShelf(selectedShelf)" styleClass="p-button-warn" ></button>      
                            </div>
                        </div>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-place>
                    <tr>
                        <td >{{place.nome}}</td>
                        <td >{{place.note}}</td>
                        <td><p-button type="button" icon="pi pi-trash" (click)="deletePlace(place.id)"> </p-button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There are no product in this shelf.</td>
                    </tr>
                </ng-template>
            </p-table>
            
    </p-card>
</div>

<p-toast position="top-center" key="tc" ></p-toast>