<div class="p-d-flex p-flex-column " > 
  <div>
     <app-toolbar></app-toolbar>
  </div>
  <div>
    <app-category></app-category> 
  </div>
  <div class="p-d-flex p-flex-row">
      
      <div class="p-d-flex p-mx-auto p-p-5">
        <div class="p-d-flex p-flex-md-row p-flex-lg-row  p-flex-xl-row  p-flex-sm-column  p-ac-center">  
          
          <p-card header="Products" subheader="Browse the list of products."class="p-mb-2 p-mr-2 " >
              <p-footer>
                <div class="p-d-flex p-flex-row">
                  <div class="p-ml-auto">
                    <button (click)= "redirect('products')" pButton type="button" label="Go" icon="pi pi-arrow-right" iconPos="right" class="p-button-text p-button-text"></button>  
                  </div>
                </div>
            </p-footer>  
          </p-card>
          <p-card header="Register" subheader="Register a new Employee." class="p-mb-2 p-mr-2" >
            <p-footer>
              <div class="p-d-flex p-flex-row">
                <div class="p-ml-auto">
                  <button (click)= "redirect('register')" pButton type="button" label="Go" icon="pi pi-arrow-right" iconPos="right" class="p-button-text p-button-text"></button>
                </div>
            </div>
            </p-footer>
          </p-card>
          <p-card header="Storage"  subheader="Manage the storehouse." class="p-mb-2 p-mr-2">
            <p-footer>
                <div class="p-d-flex p-flex-row">
                    <div class="p-ml-auto">
                      <button (click)= "redirect('products')" [disabled]="true" pButton type="button" label="Go" icon="pi pi-arrow-right" iconPos="right" class="p-button-text p-button-text"></button>
                    </div>
                </div>
            </p-footer>
          </p-card>
          <p-card header="Orders"  subheader="See the orders." class="p-mb-2 p-mr-2">
            <p-footer>
                <div class="p-d-flex p-flex-row">
                    <div class="p-ml-auto">
                      <button (click)= "redirect('orders')" pButton type="button" label="Go" icon="pi pi-arrow-right" iconPos="right" class="p-button-text p-button-text"></button>
                    </div>
                </div>
            </p-footer>
          </p-card>
        </div> 
      </div>
  </div>
</div>