<div class="p-d-flex p-flex-column " > 
  <div>
     <app-toolbar></app-toolbar>
  </div>
  <div class="p-d-flex p-flex-row">
      <div>sidebar</div>
      <div class="p-d-flex p-mx-auto p-p-5">
        <div class="p-d-flex p-flex-md-row p-flex-lg-row  p-flex-xl-row  p-flex-sm-column  p-ac-center">  
          
          <p-card header="Search" subheader="Search products by category."class="p-mb-2 p-mr-2 " >
              <p-footer>
                <div class="p-d-flex p-flex-row">
                  <div class="p-ml-auto">GO<i class=" pi pi-arrow-right"></i></div>
                </div>
            </p-footer>  
          </p-card>
          <p-card header="Order" subheader="Create a new order." class="p-mb-2 p-mr-2" >
            <p-footer>
              <div class="p-d-flex p-flex-row">
                <div class="p-ml-auto">GO<i class="pi pi-arrow-right"></i></div>
            </div>
            </p-footer>
          </p-card>
          <p-card header="Storage" subheader="Manage the storehouse." class="p-mb-2 p-mr-2">
            <p-footer>
                <div class="p-d-flex p-flex-row">
                    <div class="p-ml-auto">GO<i class="pi pi-arrow-right"></i></div>
                </div>
            </p-footer>
          </p-card>
        </div> 
      </div>
  </div>
</div>