<div class="p-d-flex p-flex-column " > 
  <div>
     <app-toolbar></app-toolbar>
  </div>
  <div class="p-d-flex p-flex-row">
      <div>sidebar</div>
      <div class="p-d-flex p-flex-md-row p-flex-lg-row  p-flex-xl-row  p-flex-sm-column  p-ac-center">  
        
        <p-card class="p-mb-2 p-mr-2" >
          <p-header>
            <h1>Search</h1>
          </p-header>

          <p-footer>

          </p-footer>
        </p-card>
        <p-card class="p-mb-2 p-mr-2">
          <p-header>
            <h1>Products</h1>
          </p-header>

          <p-footer>

          </p-footer>
        </p-card>
        <p-card class="p-mb-2 p-mr-2">
          <p-header>
            <h1>Storage</h1>
          </p-header>

          <p-footer>
              <div class="p-d-flex p-flex-row">
                  <div class="p-ml-auto">GO -></div>
              </div>
          </p-footer>
        </p-card>
         <div class="p-ml-auto"></div> 
      </div>
  </div>
</div>