<app-toolbar></app-toolbar>

<div class="p-d-flex p-flex-row ">
  <p-card class="p-d-flex p-flex-column p-m-2">
    <p-table #dt [value]="products" [rows]="20" [paginator]="true"
    [rowHover]="true" dataKey="id" [globalFilterFields]="['name']" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Quick Search</h5>
            <button pButton pRipple icon="pi pi-plus"  (click)="toggleAddDialog()"></button>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="search" (input)="dt.filterGlobal(search,'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            
            <th >Name </th>
            <th >Brand </th>
            <th >Vendor </th>
            <th >Stock </th>
            <th >Price </th>
            <th></th>
        </tr>
        
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            
            <td>{{product.name}}</td>
           
            <td>{{product.brand}}</td>
            <td>{{product.vendor.name}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price | currency:'EUR'}}</td>
            <td>
                <button pButton pRipple icon="pi pi-plus" class="p-button-rounded " (click)="addToOrder(product)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
  </p-card> 
  <p-card  class="p-d-flex p-flex-column p-m-2">
    <p-table #dt [value]="order.elements" [rows]="20" [paginator]="false"
    [rowHover]="true" dataKey="id" [globalFilterFields]="['name']" >
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Order</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th >Name </th>
                <th >Q.ty </th>
                <th >Price </th>
                <th></th>
            </tr>
            
        </ng-template>
        <ng-template pTemplate="body" let-element>
            <tr>
                <td>{{element.product.id}}</td>
                <td>{{element.product.name  }}</td>
                <td>{{element.quantity }}</td>
                <td>{{element.product.price*element.quantity | currency:'EUR' }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removeElement(element)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage"> 
            
            <tr>
                <td [attr.colspan]="5">
                    Please select items to order.
                </td>
            </tr>
                
            
        </ng-template>
    </p-table>
        <div>
           
           
        </div>
        <ng-template pTemplate="footer"> 
            <span><h4> Total: {{total| currency:'EUR'}}</h4></span>
            <button pButton label="Confirm Order" (click)="placeOrder()" > </button>
        </ng-template>
  </p-card>
<p-dialog [(visible)]="showAddDialog" [style]="{width: '450px'}" header="Add Product by code" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
     <!--  <img [src]="'assets/showcase/images/demo/product/'" [alt]="product.name" class="product-image" *ngIf="false"> -->
  </ng-template>
  <div class="p-field">
      
      <label for="name">Product ID</label>
    <div class="p-inputgroup">
      <input type="text" pInputText id="prodId" [(ngModel)]="selectedID" required autofocus /> 
      <button class="p-ml-0" pButton pRipple icon="pi pi-plus"  (click)="addProductById()"></button>
    </div>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox [(ngModel)]="multipleAdd" [binary]='true' inputId="binary"></p-checkbox>
    <label for="binary">multiple add</label> 
</div>
  
  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="toggleAddDialog()"></button>
  </ng-template>
</p-dialog>

<p-toast position="top-center" key="tc" ></p-toast> 
</div>

<p-dialog [(visible)]="showPaymentDialog" [style]="{width: '450px'}" header="Proceed With Payment" [modal]="true" styleClass="p-fluid">
  
    <div class="p-form">
      
      <label>Choose Payment method: </label>
        <div>
            <div class="p-field-radiobutton">
                <p-radioButton name="paymentMethods" value="CASH" [(ngModel)]="selectedPayment" inputId="cash"></p-radioButton>
                <label for="cash">Cash</label>
            </div>
            <div class ="p-form">
                <div class="p-field">
                    <label for="cashmoney">Cash</label>
                    <p-inputNumber [(ngModel)]="cash" mode="currency" currency="EUR" locale="de-DE" inputId="cashmoney"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label ></label>
                    <label><h5>Change:{{cash-total|currency:'EUR'}}</h5></label>
                </div>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="paymentMethods" value="CREDIT" [(ngModel)]="selectedPayment" inputId="card" [disabled]="true"></p-radioButton>
                <label for="card">credit card</label>
            </div>
        </div>
    </div>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Later" icon="pi pi-save"  (click)="payLater()"></button>
        <button pButton pRipple label="Confirm" icon="pi pi-check"  (click)="confirmPayment()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="orderCompleted" [style]="{width: '450px'}" header="Order Completed" [modal]="true"
  styleClass="p-fluid">
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Close" icon="pi pi-times"  (click)="redirect('home')"></button>
        <button pButton pRipple label="New Order" icon="pi pi-check"  (click)="newOrder()"></button>
    </ng-template>
</p-dialog>


